$.getJSON('/search_tweet/searches_saved.json', function(data) {
var items = [];
$('#words_saved').empty();
$.each(data, function(key, val) {
	items.unshift('<li id="' + val["id"] + '"> <a onclick=get_results_by("'+ val["word"] +'");>'+ val["word"] +'</a> <a onclick="remove_search_saved('+ val["id"] +'); return false;" href="#" class="delete"> x </a> </li>');
});
$('<ul/>', {
'class': 'tweets_list',
html: items.join('')
}).appendTo('#words_saved');
});