@import "base";

.login-box {
  width: 780px;
//  height: 200px;
  background-color: #f6f6f6;
  margin: 100px auto 0;
  padding: 60px;
  border: 1px solid #e2e2e6;
  @include border-radius(6px, 6px);
//  @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 50px);

  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  
  h1 {
    color: rgb(137, 96, 167);
    margin-bottom: 9px;
    font-size: 60px;
    text-align: center;
    line-height: 1;
    letter-spacing: -1px;
  }
  
  .twitter-login-btn {
    width: 400px;
    display: block;
    position: relative;
    text-align: center;
    margin: 60px auto 0;
    padding: 13px 18px 15px;
    
    background-image: none;
    border-color: #8960a7;
    background-color: #8960a7;
    color: #ffffff;
    @include border-radius(6px, 6px);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset;
    
    i {
      font-size: 20px;
      margin: 0 0 0 20px;
      line-height: 20px;
    }
  }
}

.top-bar {
  background: $borderGreen;
  height: 45px;
  line-height: 45px;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid $black;
  
  h1 {
    display: block;
    float: left;
    font-size: 20px;
    line-height: 45px;
    margin: 0;
    color: $white;
  }
  
  .user-info {
    display: block;
    float: right;
    color: $white;
  }
}

input[type=text].search {
	float: left;
	height: 41px;
	font-size: 20px;
	line-height: 24px;
	-webkit-border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
	border-right: 0;
	width: 81.3%;
	margin-bottom: 0;
}

button[type=submit].search-btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 110px;
	height: 41px;
	-webkit-border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
	color: $darkGreen;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	font: {
	  size: 18px;
	  weight: bold;
	}
  line-height: 20px;
  padding: 2px 4px 5px;
}

button[type=submit].save-search {
	width: 180px;
	height: 41px;
	@include border-radius(6px, 6px);
	color: $darkGreen;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	font: {
	  size: 18px;
	  weight: bold;
	}
  line-height: 20px;
  padding: 2px 4px 5px;
}

.search-btn {
  @include green-button;
}

.search-btn:hover{
	background-color: #ACD889;
}